{% autoescape true %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>WebGod</title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../css/frame.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="../js/jquery-2.2.3.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="../js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<nav class="navbar navbar-inverse">
					<div class="navbar-header">
						<a href="/" class="navbar-brand">
							<span>WebGod</span>
						</a>
					</div>
				</nav>
			</div>
			
		</header>
		<section class="container">
			<aside class="col-md-2 col-lg-2">
				<div class="panel panel-primary">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							Basic knowledge
						</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse.in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
						<!-- <div class="panel-body"> -->
						<div class="list-group">
							<button onclick="{location.href='/dom_injection'}"  type="button" class="list-group-item">DOM INJECTION</button>
							<button onclick="{location.href='/sql_injection_1'}" type="button" class="list-group-item">SQL INJECTION</button>
							<button onclick="{location.href='/concurrency'}" type="button" class="list-group-item">CONCURRENCY</button>
							<button type="button" class="list-group-item">PASSWORD</button>
							<button type="button" class="list-group-item">HIDDEN</button>
							<button type="button" class="list-group-item">XSS</button>
						</div>
						<!-- </div> -->
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							Normal attack
						</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
						<!-- <div class="panel-body"> -->
						<div class="list-group">
							<button onclick="{location.href='/dom_injection'}"  type="button" class="list-group-item">DOM INJECTION</button>
							<button onclick="{location.href='/sql_injection_1'}" type="button" class="list-group-item">SQL INJECTION</button>
							<button onclick="{location.href='/concurrency'}" type="button" class="list-group-item">CONCURRENCY</button>
							<button type="button" class="list-group-item">PASSWORD</button>
							<button type="button" class="list-group-item">HIDDEN</button>
							<button type="button" class="list-group-item">XSS</button>
						</div>
						<!-- </div> -->
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							Normal attack
						</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
						<!-- <div class="panel-body"> -->
						<div class="list-group">
							<button onclick="{location.href='/dom_injection'}"  type="button" class="list-group-item">DOM INJECTION</button>
							<button onclick="{location.href='/sql_injection_1'}" type="button" class="list-group-item">SQL INJECTION</button>
							<button onclick="{location.href='/concurrency'}" type="button" class="list-group-item">CONCURRENCY</button>
							<button type="button" class="list-group-item">PASSWORD</button>
							<button type="button" class="list-group-item">HIDDEN</button>
							<button type="button" class="list-group-item">XSS</button>
						</div>
						<!-- </div> -->
					</div>
				</div>
			</aside>
			<article class="col-md-10 col-lg-10">
			
				{% if islesson %}
					<div id="guide_section" class="guide_section">
						<h3 class="guide_title">
						Lesson guide
						</h3>
						<p class="guide_content">
							1.abcdefasgasdgas.<br>
							2.sadfasfasfasfasdf.<br>
							3.sadfasfafaf.<br>
							4.asdfasfasfasf.<br>
						</p>
						<div class="text-center">
							<input class="btn btn-success btn-lg" type="submit" id="start_lesson" value="start lesson">
						</div>
					</div>
				{% endif %}
				<div id="lesson_section" class="lesson_section">
					{% if islesson %}
						<div class="clearfix">
							<nav class="navbar navbar-nav">
								<ul class="nav nav-pills">
									<button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{hint}}">
									Hint
									</button>
									<button type="button" class="btn btn-warning" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{solution}}">
									Solution
									</button>
								</ul>
							</nav>
						</div>
					{% endif %}
					{% block content %}{% endblock %}
					
				</div>
				
			</article>
			
		</section>
		<!-- 模态框 -->
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Success</h4>
					</div>
					<div class="modal-body">
						<p>Congradulations! You have completed this class.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
					</div>
					</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					<script src="/js/frame.js"></script>
				</body>
			</html>
		{% endautoescape %}