{% extends "frame.html" %}
{% block content %}
{% autoescape true %}



        <!-- <title>SQL Injection</title>
        <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>	 -->

        <!-- include jquery and your js -->
        <script src="/js/sql_injection_1.js"></script>
     <div id="lessonContent">
    </div>
    <div class="container">
	    <h1>EXPLORE</h1>
	    <p>results for Electronics : Camera & Photo </p>
	    <p>&nbsp</p>
          <div class="input-group">
	  <input id="query" type="text" class="form-control" placeholder="Search for products...">
	  <span class="input-group-btn">
		  <button id="search" class="btn btn-default" type="button">Go!</button>
	  </span>
           </div><!-- /input-group -->
	    <p>&nbsp</p>
	    <table class="table table-hover">
		    <thead><tr>
			    <th>Product</th>
			    <th>Price</th>
			    <th>Seller</th>
			    <th></th>
	            </tr></thead>
		    <tbody>
			    {% for product in result %}
			    <tr><td>{{ product.product_name}}</td>
				    <td> {{ product.price}} </td>
				    <td> {{ product.seller}} </td>
				    <td> {{ product.in_stock}} </td>
			    </tr>
			    {% endfor %}
		    </tbody>
	    </table>
	      <div class="col-lg-6">
    
    
    </div>

{% endautoescape %}
{% endblock %}
